/* Estilos para el botón de iniciar sesión */
/* Estilo para modo claro */
.login-button {
    background-color: white; /* Verde */
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
}

.login-button-icon {
    margin-right: 20px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.login-button-avatar {
    margin-right: 20px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.login-button:hover {
    background-color: #d7dbdf; /* Verde más oscuro */
    color: black;
}

/* Estilo para modo oscuro */
@media (prefers-color-scheme: dark) {
    .login-button {
        background-color: #242424; /* Fondo oscuro */
        color: white; /* Texto claro */
    }

    .login-button-icon {
        filter: invert(1); /* Ajusta los íconos para que se vean mejor en modo oscuro */
    }

    .login-button:hover .login-button-icon {
        filter: invert(0); /* Invierte el color del ícono cuando ocurre el hover */
    }
}

